* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  width: 50px;
  height: 50px;
  background-color: #343434;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  border: none;
  outline: none;
  transition: transform 0.1s ease;
}
.btn:active {
  transform: scale(0.9);
  opacity: 0.8;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
  background-color: black;
  border-radius: 20px;
  width: fit-content;
  margin: 50px auto;
}

.screen {
  grid-column: span 4;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 24px;
  text-align: right;
}
.btn-zero {
  grid-column: span 2;
  border-radius: 30px;
  width: 100%;
  text-align: start;
  padding-left: 20px;
}
.btnYellow {
  background-color: #fd9800;
}
.btnSv {
  background-color: #a9a9a9;
}
